* {
  box-sizing: border-box;
}

body {
  background-color: rgb(209, 219, 190);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

header, main, footer {
  width: 960px;
  margin: 0 auto;
}

main {
  padding: 30px;
  background: #fff;
  overflow: auto;
}

.logo, .logo img, .logo h1 {
  display: inline-block;
  position: relative;
}

.logo {
  margin-right: 45px;
  margin-left: 20px;
}

.logo img {
  top: 5px;
}

.logo h1 {
  margin: 0;
  font-size: 36px;
  bottom: 18px;
  left: 5px;
}

nav {
  display: inline-block;
}

nav ul {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: rgb(145, 170, 157);
  padding: 15px 45px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  background-color: rgb(252, 255, 245);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.selected {
  background-color: rgb(145, 170, 157);
}

.selected a {
  color: rgb(252, 255, 245);
}

h2 {
  font-size: 32px;
}

.bw-tree {
  float: right;
  margin-left: 30px;
}
