<!doctype html>
	<html lang="en-US">
	  <head>
	    <title>Liquid Layout</title>
	    <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="reset.css">
      <link rel="stylesheet" href="style.css">
	  </head>
	  <body>
      <header>
        <h1>My Photo Gallery</h1>
      </header>

      <main>

        <figure>
          <img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=1200%C3%97900&w=1200&h=900" alt="blank box">
          <figcaption>Example photo</figcaption>
        </figure>

        <div class="thumbnails">

          <ul>
            <li>
              <img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=1200%C3%97900&w=1200&h=900" alt="blank box">
            </li>

            <li>
              <img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=1200%C3%97900&w=1200&h=900" alt="blank box">
            </li>

            <li>
              <img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=1200%C3%97900&w=1200&h=900" alt="blank box">
            </li>

            <li class="last">
              <img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=1200%C3%97900&w=1200&h=900" alt="blank box">
            </li>
          </ul>

        </div>

      </main>
    </body>
	</html>
