body {
  font: normal 16px/140% Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

canvas {
  margin: 0 auto;
  border: 1px solid black;
  display: block;
  margin-top: 50px;
}

.shapes {
  width: 800px;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  font-size: 0;
  margin-top: 20px;
}

li {
  display: inline-block;
  width: 20%;
  font-size: 1em;
  text-align: center;
}

button, input {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  width: 97%;
}

input {
  cursor: text;
}

.active {
  background-color: darkblue;
  color: white;
}
