body {
  font: normal 20px/150% "Source Sans Pro", Helvetica, Arial, sans-serif;
}

header {
  background: transparent url("images/bg-init-blue.jpg") 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 15px 100px;
}

nav {
  overflow: hidden;
  padding-bottom: 50px;
}

strong {
  font-weight: bold;
}

.burger {
  background-color: #fff;
  width: 28px;
  height: 2px;
  display: block;
  position: relative;
  top: 15px;
}

.burger:before,
.burger:after {
  content: "";
  width: 28px;
  background-color: #fff;
  height: 2px;
  display: block;
  position: absolute;
}

.burger:before {
  top: -10px;
}

.burger:after {
  top: 10px;
}

.social {
  float: right;
}

.social a {
  width: 28px;
  height: 28px;
  display: inline-block;
  text-indent: -9999px;
}

.social a + a {
  margin-left: 30px;
}

.social .twitter {
  background: transparent url("images/social.png") 0 0 no-repeat;
  background-size: 56px;
}

.social .twitter:hover, .social .facebook:hover {
  background-color: rgba(0, 0, 0, 0.2)
}

.social .facebook {
  background: transparent url("images/social.png") 100% 0 no-repeat;
  background-size: 56px;
}

.logo {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  background: transparent url("images/js_logo.png") 0 0 no-repeat;
  padding-bottom: 25px;
}

header h1 {
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #F3DF49;
}

header h1 + h1 {
  padding-top: 10px;
  color: #fff;
}


/**********************
Main
**********************/

main {
  width: 100%;
  box-sizing: border-box;
  padding: 75px 15px 0;
}

.description p {
  text-align: center;
  padding-bottom: 105px;
  font-weight: 300;
}

main h2 {
  color: #3580C2;
  font-size: 26px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px;
}

.vip li {
  overflow: hidden;
  padding-bottom: 40px;
}

.vip figure {
  width: 120px;
  height: 120px;
  float: left;
  padding-right: 15px;
}

.vip figure img {
  width: 100%;
  border-radius: 0 15px;
}

.vip a {
  text-decoration: none;
}

.vip .name {
  color: #3580C2;
  text-transform: uppercase;
  font-size: 20px;
}

.vip .name h3 {
  font-weight: normal;
}

.vip .name:hover h3 {
  text-decoration: underline;
}

.vip .speaker-twitter {
  color: #ABABAB;
  font-weight: 100;
  display: block;
}

.vip .speaker-topic {
  color: #DB3127;
  font-weight: bold;
  font-size: 15px;
  display: block;
  line-height: 21px;
  width: 280px;
}

.vip .speaker-topic:hover {
  text-decoration: underline;
}
