/**********************
General / Body
**********************/

body {
  font: normal 20px/150% "Source Sans Pro", Helvetica, Arial, sans-serif;
}

header {
  background: transparent url("images/bg-init-blue.jpg") 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 15px 100px;
}

nav {
  overflow: hidden;
  padding-bottom: 50px;
}

strong {
  font-weight: bold;
}


/**********************
Header
**********************/

.burger {
  background-color: #fff;
  width: 28px;
  height: 2px;
  display: block;
  position: relative;
  top: 15px;
}

.burger:before,
.burger:after {
  content: "";
  width: 28px;
  background-color: #fff;
  height: 2px;
  display: block;
  position: absolute;
}

.burger:before {
  top: -10px;
}

.burger:after {
  top: 10px;
}

.social {
  float: right;
}

.social a {
  width: 28px;
  height: 28px;
  display: inline-block;
  text-indent: -9999px;
}

.social a + a {
  margin-left: 30px;
}

.social .twitter {
  background: transparent url("images/social.png") 0 0 no-repeat;
  background-size: 56px;
}

.social .twitter:hover, .social .facebook:hover {
  background-color: rgba(0, 0, 0, 0.2)
}

.social .facebook {
  background: transparent url("images/social.png") 100% 0 no-repeat;
  background-size: 56px;
}

.logo {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  background: transparent url("images/js_logo.png") 0 0 no-repeat;
  padding-bottom: 25px;
}

header h1 {
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #F3DF49;
}

header h1 + h1 {
  padding-top: 10px;
  color: #fff;
}


/**********************
Section Header
**********************/

.section_header span {
  height: 84px;
  width: 84px;
  display: block;
  top: 50%;
  margin-top: -62px;
  position: absolute;
}

.section_header .left {
  left: 0;
}

.section_header .right {
  right: 0;
}

.section_header .left:before,
.section_header .left:after,
.section_header .right:before,
.section_header .right:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.section_header .left:before {
  top: 0;
  left: 0;
  border-width: 42px 0 42px 42px;
  border-color: transparent transparent transparent #007bff;
  opacity: .2;
}

.section_header .left:after {
  border-width: 0 42px 42px 42px;
  border-color: transparent transparent #007bff transparent;
  opacity: .05;
  bottom: 0;
  left: 0;
}

.section_header .right:before {
  top: 0;
  left: 0;
  border-width: 42px 42px 0 42px;
  border-color: #3580C2 transparent transparent transparent;
  opacity: .05;
}

.section_header .right:after {
  border-width: 42px 42px 42px 0;
  border-color: transparent #3580C2 transparent transparent;
  opacity: .10;
  bottom: 0;
  right: 0;
}



/**********************
Main
**********************/

main {
  width: 100%;
  box-sizing: border-box;
  padding: 75px 15px 0;
}

.description p {
  text-align: center;
  padding-bottom: 105px;
  font-weight: 300;
}

main h2 {
  color: #3580C2;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px;
  position: relative;
}

.vip li {
  overflow: hidden;
  padding-bottom: 40px;
}

.vip figure {
  width: 120px;
  height: 120px;
  float: left;
  padding-right: 15px;
}

.vip figure img {
  width: 100%;
  border-radius: 0 15px;
}

.vip a {
  text-decoration: none;
  color: #3580C2;
}

.vip .name {
  text-transform: uppercase;
}

.vip h3 {
  font-weight: normal;
  font-size: 20px;
  color: #3580C2;
}

.vip .name:hover h3 {
  text-decoration: underline;
}

.vip .speaker-twitter {
  color: #ABABAB;
  font-weight: 100;
  display: block;
}

.vip .speaker-topic {
  color: #DB3127;
  font-weight: 600;
  font-size: 15px;
  display: block;
  line-height: 21px;
  width: 280px;
}

.vip .speaker-topic:hover {
  text-decoration: underline;
}

section {
  padding-bottom: 130px;
}


/**********************
Masters of Ceremony
**********************/

.masters h3 {
  font-weight: 600;
}

/**********************
Workshops
**********************/

.workshops h3 {
  font-weight: 600;
  font-size: 20px;
}

.workshops h3:hover {
  text-decoration: underline;
}

.workshops h4 {
  font-weight: 400;
  font-size: 19px;
}

.workshops h4:hover {
  text-decoration: underline;
}

.workshops p {
  font-weight: 100;
  font-size: 18px;
  margin: 20px 10px 0;
  padding-left: 125px;
  line-height: 140%;
}

.workshops li:last-child {
  padding-bottom: 0;
}



/**********************
Sponsors
**********************/

.sponsors {
  overflow: hidden;
}

.sponsors li {
  width: 100%;
  margin-bottom: 30px;
}

.sponsors .half-img {
  width: 50%;
  float: left;
}

.sponsors li a {
  text-indent: -9999px;
  background: transparent url("images/euedge.png") 0 0 no-repeat;
  display: block;
  width: 370px;
  height: 117.3px;
  background-size: 370px;
}

.sponsors .half-img a{
  width: 185px;
  height: 58.65px;
  background-size: 185px;
}


/**********************
Article
**********************/

article h3 {
  font-size: 23px;
  font-weight: 600;
}

article * {
  padding-bottom: 20px;
}

.sponsors article p:last-child {
  padding-bottom: 0;
}

article a {
  color: #3580C2;
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

article p {
  font-weight: 100;
}


/**********************
News
**********************/

.news h3 {
  color: #3580C2;
  font-weight: 400;
  padding-bottom: 5px;
  font-size: 22px;
}

.news h5 {
  color: gray;
  font-size: 0.7em;
  font-weight: 100;
  padding-top: 0;
}

.news p {
  padding-bottom: 60px;
  margin-bottom: 0;
}

.news {
  padding-bottom: 75px;
}


/**********************
Venue
**********************/

.venue article h2 {
  text-transform: none;
  text-align: left;
}

.venue figure {
  width: 100%;
  padding-bottom: 30px;
}

.venue figure img {
  width: 100%;
}

.venue blockquote {
  font-weight: 100;
  font-style: italic;
  padding-left: 40px;
  border-left: 5px solid #3580C2;
  padding-bottom: 0;
}

.venue cite {
  font-size: 0.7em;
  text-align: right;
  display: block;
  padding: 0;
  margin: 0;
}


/**********************
Footer
**********************/

small {
  text-align: center;
  font-size: 12px;
  font-weight: 100;
  display: block;
}

footer a {
  text-decoration: none;
  color: #3580C2;
  font-size: 12px;
}

footer ul {
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -10px;
}

footer li {
  display: inline-block;
}

footer li + li:before {
  content: "|";
  display: inline-block;
  font-size: 12px;
  padding-right: 5px;
  font-weight: 100;
}
