<!doctype html>
	<html lang="en-US">
	  <head>
	    <title>Liquid Layout</title>
	    <meta charset="UTF-8" />
      <style>
        #content, #sidebar {
          padding: 20px 30px;
        }

        #content {
          float: left;
          box-sizing: border-box;
          width: 50%;
        }

        #sidebar {
          overflow: hidden;
        }

        main {
          min-width: 600px;
          max-width: 1400px;
        }
      </style>
	  </head>
	  <body>
      <main>
        <article id="content">
          <p>Stuff a child's face with Fun Dip® until he starts having fun. 25 shitty jokes about House of Cards. Beating your wives. The homosexual agenda. Poopy diapers. Quivering jowls. Gandhi. Dental dams. Ribs so good they transcend race and class.</p>
        </article>

        <aside id="sidebar">
          <p>Genghis Khan. Gladiatorial combat. Dropping a chandelier on your enemies and riding the rope up. The miracle of childbirth. Jeff Goldblum. Cybernetic enhancements. The boners of the elderly. The grey nutrient broth that sustains Mitt Romney. 10 Incredible Facts About the Anus.</p>
        </aside>
      </main>
    </body>
	</html>
