h1, h2 {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
  line-height: 45px;
}

h2 {
  font-size: 24px;
  color: #ba3925;
}

body {
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 30px;
}

figcaption {
  font: italic 14px/24px Georgia, serif;
  text-align: center;
}

header p {
  font-size: 14px;
  font-style: italic;
}

#author {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #2455c3;
}

blockquote {
  padding-left: 12px;
  margin-left: 0;
  font-style: italic;
  border-left: 1px dotted #bfbfbf;
}
