<div id="newModal">
<form>
  <fieldset>
    <dl>
      <dt><label for="name">Name</label></dt>
      <dd><input name="name" id="name" type="text" required></dd>
      <dt><label for="colors">Three Favorite Colors</label></dt>
      <dd><input name="colors" id="colors" type="text" placeholder="Separated by space" required></dd>
    </dl>
  </fieldset>

  <fieldset>
    <button class="btn-add" type="submit">Add</button>
    <button class="btn-cancel">Cancel</button>
  </fieldset>
</form>
</div>
